        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 16px;
            color: #ffffff;
        }
        
        body {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            background-image: url(../img/bg-mobile.svg);
            background-repeat: no-repeat;
            background-position: top, right;
            background-color: hsl(257, 40%, 49%);
        }
        
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .cabeça {
            margin-bottom: 2rem;
        }
        
        .logo {
            width: 50vw;
            margin-top: 3rem;
            margin-bottom: 3rem;
            display: flex;
            justify-content: left;
        }
        
        .ilustração {
            width: 80vw;
        }
        
        .conteudo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        
        .conteudo h1,
        h2 {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            text-align: center;
            font-size: 1.5rem;
        }
        
        .conteudo p {
            margin-top: 1rem;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-weight: 100;
            font-size: .96rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        
        .button {
            margin-top: 2rem;
            padding: .8rem 6rem;
            background-color: whitesmoke;
            color: hsl(257, 40%, 49%);
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            border-radius: 2rem;
            font-weight: 400;
            box-shadow: 0px 2px hsla(0, 0%, 0%, 0.144);
        }
        
        footer {
            width: 100%;
            margin-top: 3rem;
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
        }
        
        .icones a {
            margin-left: .5rem;
            text-decoration: none;
            border: 1px solid whitesmoke;
            border-radius: 100%;
            padding: 2px;
            padding-left: 10px;
            padding-top: 8px;
            padding-bottom: 4px;
        }
        
        @media (min-width:1200px) {
            body {
                background-image: url(../img/bg-desktop.svg);
                background-position: left center;
            }
            .container {
                flex-wrap: nowrap;
                margin-bottom: -30px;
            }
            .cabeça {
                margin-left: 3.125rem;
            }
            .logo {
                width: 15vw;
            }
            .ilustração {
                width: 50vw;
            }
            .conteudo {
                justify-content: flex-start;
                align-items: flex-start;
                margin-left: 3rem;
            }
            .conteudo h1,
            h2 {
                margin-top: 190px;
                font-size: 2.5rem;
                font-weight: 600;
            }
            .conteudo h2 {
                margin-top: -110px;
            }
            .conteudo p {
                margin-top: -140px;
                text-align: left;
                padding-left: 0;
                padding-right: 6rem;
            }
            .button {
                margin-top: -8rem;
                padding: .8rem 4rem;
            }
            footer {
                margin-bottom: 1.5rem;
                justify-content: flex-end;
            }
            .icones {
                margin-right: 5rem;
            }
            .button:hover {
                background-color: hsl(257, 86%, 67%);
                color: whitesmoke;
                transition: .3s;
            }
            .icones a:hover {
                color: hsl(258, 97%, 15%);
                transition: .3s;
            }
        }